%h1 Sample app

%p
  Hi #{@user.name},
%p
  Your request of reset your password has been accepted,click the link below to proceed
%p
  =link_to 'Reset password', edit_password_reset_url(@user.reset_token, email: @user.email)